@use "./variables" as var;

@font-face {
  font-family: "Luckiest Guy";
  src: url("/game/fonts/luckiest_guy/LuckiestGuy-Regular.ttf");
}
@font-face {
  font-family: "lifeisstrangeru";
  src: url("/game/fonts/lifeisstrange_dark/lifeisstrangeru.ttf");
}
@font-face {
  font-family: "Pribambas";
  src: url("/game/fonts/pribambas/Pribambas-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: monospace;

  //background-color: hsl(280, 100%, 50%);
  background-color: var.$test;
  color: white;
}

h1 {
  text-align: center;

  font-size: 4rem;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#canvas-container {
  aspect-ratio: 1110 / 624;
  max-height: 95vh;
  margin-inline: auto;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.8);

  &.short {
    canvas {
      width: 100% !important;
      height: auto !important;
      margin: 0 !important;
    }
  }

  &.long {
    canvas {
      width: auto !important;
      height: 100% !important;
      margin: 0 !important;
    }
  }
}
