*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: monospace;

  background-color: hsl(280, 100%, 50%);
  color: white;
}

h1 {
  text-align: center;

  font-size: 4rem;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}