@use './variables' as var;

@font-face {
  font-family: "lifeisstrangeru";
  src: url('/game/fonts/lifeisstrange_dark/lifeisstrangeru.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: monospace;

  //background-color: hsl(280, 100%, 50%);
  background-color: var.$test;
  color: white;
}

h1 {
  text-align: center;

  font-size: 4rem;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}